@import "palette";

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Helvetica Neue",Arial,sans-serif;
}

// Index page

.el-header {
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width:100%;
}

.el-menu--horizontal {
  background-color: $accent-color;

  .el-menu-item {
    color: $white-text-color;

    &.is-active {
      color: $light-text-color;
      border-bottom: 2px solid $light-text-color;
    }

    &:not(.is-disabled) {
      &:hover {
        background-color: $accent-dark-color;
        color: $white-text-color;
      }

      &:focus {
        background-color: $accent-color;
        color: $light-text-color;
      }
    }
  }
}

.el-popover {
  max-width: 400px;
}

.login-form-item {
  label {
    padding: 0 !important;
    font-size: medium;
  }
}

.region-form-container {
  label {
    padding: 0 !important;
    font-size: small;
  }
}

// Audio Editor

.audio-form-container {
  .el-alert {
    margin-top: 0 !important;
  }

  .el-upload {
    display: block;
    .el-upload-dragger {
      width: auto;
    }
  }
}

// Equipment page

.admin-container {
  padding: 2rem 2rem;
  width: 100vw;
  max-width:100%;
}

// Player

.audio-title-container {
  height: 60px;

  .playlist-select {
    margin: 10px 20px 10px 10px;

    .el-input {
      transition: all .25s ease,height 0s;

      .el-input__inner {
        border: none;
        border-radius: 12px;
        font-size: 16px;
        background: $background-color;
      }

      &:hover {
        transform: translateY(-4px);
        transition: all .25s ease,height 0s;

        .el-input__inner {
          background: #fff;
          box-shadow: 0 5px 15px -4px $shadow-color;
        }
      }
    }
  }

  .audio-title {
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
  }
}
