// colors
$accent-color: #40577b;
$accent-dark-color: #2c3e50;

$border-color: #718096;

$code-bg-color: #FFF5F7;
$code-text-color: #000;
$link-color: #FC8181;
$light-text-color: #7FCCD9;
$white-text-color: #fff;
$dark-text-color: #000;
$gray-text-color: #757075;

// layout
$navbar-height: 3rem;
$sidebar-width: 20rem;
$content-width: 54rem;
$header-height: 20rem;
$mobile-width: 768px;

//font
$default-font: -apple-system, BlinkMacSystemFont, "Microsoft YaHei"  "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$--color-primary: $light-text-color;
$--color-black: $accent-color;