// colors
$accent-color: #40577b;
$accent-dark-color: #2c3e50;

$border-color: #718096;

$code-bg-color: #FFF5F7;
$code-text-color: #000;
$link-color: #FC8181;
$light-text-color: #7FCCD9;
$white-text-color: #fff;
$dark-text-color: #000;
$gray-text-color: #757075;

$background-color: #E5F5F7;
$shadow-color: #7FCCD9;

// layout
$navbar-height: 3rem;
$sidebar-width: 20rem;
$content-width: 54rem;
$header-height: 20rem;
$mobile-width: 768px;
